
.delete-modal {
    

    h1{
        color: rgb(16, 12, 37);
        font-size: 25px;
        text-align: center;
        margin-bottom: 60px;
    }

    .btns {
        display: flex;
        justify-content: center;
        gap: 15px;

        button {
            width: 150px;
            padding: .6em;
            border: none;
            cursor: pointer;

            background-color: #313131e1;
            color: whitesmoke;
        }

        button:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            color: rgb(236, 177, 26);
        }
    }


}